services:
  db:
    image: chromadb/chroma:latest
    # ports:
    #   - "8000:8000"
    volumes:
      - ./db/chroma_data:/data
    environment:
      - ANONYMIZED_TELEMETRY=False
    networks:
      - vectordb-llm-network
      
  llm:
    image: ollama/ollama:latest
    # ports:
    #   - "11434:11434"
    volumes:
      - ./db/ollama_data:/root/.ollama
    networks:
      - vectordb-llm-network
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: all
    #           capabilities: [gpu]
    depends_on:
      - db
  ## TODO docker file for api production build
  # api:
  #   Dockerfile:


networks:
  vectordb-llm-network:
    driver: bridge